.section-search input {
color: black !important;
text-align: center !important;
width: 50% !important;
}

.button {
width: 80px;
height: auto;
padding: 13px;
}
.button:focus {
background-color: white;
}

.card-panel {
box-sizing: border-box;
width: 400px;
}

.row {
    width: 1000px;
}

#gallery {

    background-color:  rgb(255, 115, 0);
}